.elementor-912 .elementor-element.elementor-element-b38a605 > .elementor-container {
    min-height: 60vh;
}

.elementor-912 .elementor-element.elementor-element-b38a605.ob-is-breaking-bad > .elementor-container > .elementor-row, .elementor-912 .elementor-element.elementor-element-b38a605.ob-is-breaking-bad > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-912 .elementor-element.elementor-element-b38a605.ob-is-breaking-bad.ob-bb-inner > .elementor-container > .elementor-row, .elementor-912 .elementor-element.elementor-element-b38a605.ob-is-breaking-bad.ob-bb-inner > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-912 .elementor-element.elementor-element-b38a605.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-912 .elementor-element.elementor-element-b38a605.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-912 .elementor-element.elementor-element-b38a605.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-912 .elementor-element.elementor-element-b38a605.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-912 .elementor-element.elementor-element-b38a605.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-912 .elementor-element.elementor-element-b38a605:not(.elementor-motion-effects-element-type-background), .elementor-912 .elementor-element.elementor-element-b38a605 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../../img/arrangement_interrior_bg_4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-912 .elementor-element.elementor-element-b38a605 > .elementor-background-overlay {
    background-color: var(--e-global-color-primary);
    opacity: 0.6;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-912 .elementor-element.elementor-element-b38a605 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 60px;
    margin-bottom: 0px;
}

.elementor-912 .elementor-element.elementor-element-a4fbcda.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-912 .elementor-element.elementor-element-a4fbcda.ob-is-pseudo > .elementor-element-populated:after {
    transform: rotate(0deg);
}

.elementor-912 .elementor-element.elementor-element-0bbd72f {
    text-align: center;
}

.elementor-912 .elementor-element.elementor-element-0bbd72f .elementor-heading-title {
    color: var(--e-global-color-64c3f37);
}

.elementor-912 .elementor-element.elementor-element-0bbd72f.ob-harakiri {
    writing-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-0bbd72f.ob-harakiri .elementor-heading-title {
    writing-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-0bbd72f.ob-harakiri .elementor-widget-container > div {
    writing-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-0bbd72f .elementor-widget-container {
    mix-blend-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-0bbd72f.ob-has-background-overlay > .elementor-widget-container:after {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    transform: rotate(0deg);
}

.elementor-912 .elementor-element.elementor-element-22c64d0 > .elementor-container {
    max-width: 900px;
}

.elementor-912 .elementor-element.elementor-element-22c64d0.ob-is-breaking-bad > .elementor-container > .elementor-row, .elementor-912 .elementor-element.elementor-element-22c64d0.ob-is-breaking-bad > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-912 .elementor-element.elementor-element-22c64d0.ob-is-breaking-bad.ob-bb-inner > .elementor-container > .elementor-row, .elementor-912 .elementor-element.elementor-element-22c64d0.ob-is-breaking-bad.ob-bb-inner > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-912 .elementor-element.elementor-element-22c64d0.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-912 .elementor-element.elementor-element-22c64d0.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-912 .elementor-element.elementor-element-22c64d0.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-912 .elementor-element.elementor-element-22c64d0.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-912 .elementor-element.elementor-element-22c64d0.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-912 .elementor-element.elementor-element-22c64d0:not(.elementor-motion-effects-element-type-background), .elementor-912 .elementor-element.elementor-element-22c64d0 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-secondary);
}

.elementor-912 .elementor-element.elementor-element-22c64d0 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}

.elementor-912 .elementor-element.elementor-element-22c64d0 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-912 .elementor-element.elementor-element-db8726c.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-912 .elementor-element.elementor-element-db8726c.ob-is-pseudo > .elementor-element-populated:after {
    transform: rotate(0deg);
}

.elementor-912 .elementor-element.elementor-element-46f6adf {
    color: var(--e-global-color-primary);
    font-size: var(--e-global-typography-5d23ba6-font-size);
    font-weight: var(--e-global-typography-5d23ba6-font-weight);
    line-height: var(--e-global-typography-5d23ba6-line-height);
    letter-spacing: var(--e-global-typography-5d23ba6-letter-spacing);
}

.elementor-912 .elementor-element.elementor-element-46f6adf.ob-harakiri {
    writing-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-46f6adf.ob-harakiri .elementor-heading-title {
    writing-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-46f6adf.ob-harakiri .elementor-widget-container > div {
    writing-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-46f6adf .elementor-widget-container {
    mix-blend-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-46f6adf.ob-has-background-overlay > .elementor-widget-container:after {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    transform: rotate(0deg);
}

.elementor-912 .elementor-element.elementor-element-46a9f8e > .elementor-container {
    max-width: 900px;
}

.elementor-912 .elementor-element.elementor-element-46a9f8e.ob-is-breaking-bad > .elementor-container > .elementor-row, .elementor-912 .elementor-element.elementor-element-46a9f8e.ob-is-breaking-bad > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-912 .elementor-element.elementor-element-46a9f8e.ob-is-breaking-bad.ob-bb-inner > .elementor-container > .elementor-row, .elementor-912 .elementor-element.elementor-element-46a9f8e.ob-is-breaking-bad.ob-bb-inner > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-912 .elementor-element.elementor-element-46a9f8e.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-912 .elementor-element.elementor-element-46a9f8e.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-912 .elementor-element.elementor-element-46a9f8e.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-912 .elementor-element.elementor-element-46a9f8e.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-912 .elementor-element.elementor-element-46a9f8e.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-912 .elementor-element.elementor-element-46a9f8e {
    padding: 100px 0px 0100px 0px;
}

.elementor-912 .elementor-element.elementor-element-fe96468.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-912 .elementor-element.elementor-element-fe96468.ob-is-pseudo > .elementor-element-populated:after {
    transform: rotate(0deg);
}

.elementor-912 .elementor-element.elementor-element-0c4c80c.ob-is-breaking-bad > .elementor-container > .elementor-row, .elementor-912 .elementor-element.elementor-element-0c4c80c.ob-is-breaking-bad > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-912 .elementor-element.elementor-element-0c4c80c.ob-is-breaking-bad.ob-bb-inner > .elementor-container > .elementor-row, .elementor-912 .elementor-element.elementor-element-0c4c80c.ob-is-breaking-bad.ob-bb-inner > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-912 .elementor-element.elementor-element-0c4c80c.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-912 .elementor-element.elementor-element-0c4c80c.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-912 .elementor-element.elementor-element-0c4c80c.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-912 .elementor-element.elementor-element-0c4c80c.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-912 .elementor-element.elementor-element-0c4c80c.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-912 .elementor-element.elementor-element-48e2553.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-912 .elementor-element.elementor-element-48e2553.ob-is-pseudo > .elementor-element-populated:after {
    transform: rotate(0deg);
}

.elementor-912 .elementor-element.elementor-element-db2a6dd.ob-harakiri {
    writing-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-db2a6dd.ob-harakiri .elementor-heading-title {
    writing-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-db2a6dd.ob-harakiri .elementor-widget-container > div {
    writing-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-db2a6dd .elementor-widget-container {
    mix-blend-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-db2a6dd > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-912 .elementor-element.elementor-element-db2a6dd.ob-has-background-overlay > .elementor-widget-container:after {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    transform: rotate(0deg);
}

.elementor-912 .elementor-element.elementor-element-c38d26f.ob-harakiri {
    writing-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-c38d26f.ob-harakiri .elementor-heading-title {
    writing-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-c38d26f.ob-harakiri .elementor-widget-container > div {
    writing-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-c38d26f .elementor-widget-container {
    mix-blend-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-c38d26f.ob-has-background-overlay > .elementor-widget-container:after {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    transform: rotate(0deg);
}

.elementor-912 .elementor-element.elementor-element-258c572.ob-is-breaking-bad > .elementor-container > .elementor-row, .elementor-912 .elementor-element.elementor-element-258c572.ob-is-breaking-bad > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-912 .elementor-element.elementor-element-258c572.ob-is-breaking-bad.ob-bb-inner > .elementor-container > .elementor-row, .elementor-912 .elementor-element.elementor-element-258c572.ob-is-breaking-bad.ob-bb-inner > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-912 .elementor-element.elementor-element-258c572.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-912 .elementor-element.elementor-element-258c572.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-912 .elementor-element.elementor-element-258c572.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-912 .elementor-element.elementor-element-258c572.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-912 .elementor-element.elementor-element-258c572.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-912 .elementor-element.elementor-element-3e6c182.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-912 .elementor-element.elementor-element-3e6c182.ob-is-pseudo > .elementor-element-populated:after {
    transform: rotate(0deg);
}

.elementor-912 .elementor-element.elementor-element-6a155f2 > .elementor-container {
    min-height: 60vh;
}

.elementor-912 .elementor-element.elementor-element-6a155f2.ob-is-breaking-bad > .elementor-container > .elementor-row, .elementor-912 .elementor-element.elementor-element-6a155f2.ob-is-breaking-bad > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-912 .elementor-element.elementor-element-6a155f2.ob-is-breaking-bad.ob-bb-inner > .elementor-container > .elementor-row, .elementor-912 .elementor-element.elementor-element-6a155f2.ob-is-breaking-bad.ob-bb-inner > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-912 .elementor-element.elementor-element-6a155f2.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-912 .elementor-element.elementor-element-6a155f2.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-912 .elementor-element.elementor-element-6a155f2.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-912 .elementor-element.elementor-element-6a155f2.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-912 .elementor-element.elementor-element-6a155f2.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-912 .elementor-element.elementor-element-6a155f2:not(.elementor-motion-effects-element-type-background), .elementor-912 .elementor-element.elementor-element-6a155f2 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../../img/arrangement_interrior_bg_9.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-912 .elementor-element.elementor-element-6a155f2 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-912 .elementor-element.elementor-element-6a155f2 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-912 .elementor-element.elementor-element-f22e1a8.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-912 .elementor-element.elementor-element-f22e1a8.ob-is-pseudo > .elementor-element-populated:after {
    transform: rotate(0deg);
}

.elementor-912 .elementor-element.elementor-element-ebdbba0.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-912 .elementor-element.elementor-element-ebdbba0 > .elementor-element-populated {
    margin: 22% 0% 0% 0%;
}

.elementor-912 .elementor-element.elementor-element-ebdbba0.ob-is-pseudo > .elementor-element-populated:after {
    transform: rotate(0deg);
}

.elementor-912 .elementor-element.elementor-element-c7ce071 > .elementor-container {
    min-height: 60vh;
}

.elementor-912 .elementor-element.elementor-element-c7ce071.ob-is-breaking-bad > .elementor-container > .elementor-row, .elementor-912 .elementor-element.elementor-element-c7ce071.ob-is-breaking-bad > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-912 .elementor-element.elementor-element-c7ce071.ob-is-breaking-bad.ob-bb-inner > .elementor-container > .elementor-row, .elementor-912 .elementor-element.elementor-element-c7ce071.ob-is-breaking-bad.ob-bb-inner > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-912 .elementor-element.elementor-element-c7ce071.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-912 .elementor-element.elementor-element-c7ce071.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-912 .elementor-element.elementor-element-c7ce071.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-912 .elementor-element.elementor-element-c7ce071.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-912 .elementor-element.elementor-element-c7ce071.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-912 .elementor-element.elementor-element-c7ce071:not(.elementor-motion-effects-element-type-background), .elementor-912 .elementor-element.elementor-element-c7ce071 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../../img/arrangement_interrior_bg_5.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-912 .elementor-element.elementor-element-c7ce071 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-912 .elementor-element.elementor-element-c7ce071 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-912 .elementor-element.elementor-element-6adace8.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-912 .elementor-element.elementor-element-6adace8.ob-is-pseudo > .elementor-element-populated:after {
    transform: rotate(0deg);
}

.elementor-912 .elementor-element.elementor-element-1b4a4a9 > .elementor-container {
    max-width: 900px;
}

.elementor-912 .elementor-element.elementor-element-1b4a4a9.ob-is-breaking-bad > .elementor-container > .elementor-row, .elementor-912 .elementor-element.elementor-element-1b4a4a9.ob-is-breaking-bad > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-912 .elementor-element.elementor-element-1b4a4a9.ob-is-breaking-bad.ob-bb-inner > .elementor-container > .elementor-row, .elementor-912 .elementor-element.elementor-element-1b4a4a9.ob-is-breaking-bad.ob-bb-inner > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-912 .elementor-element.elementor-element-1b4a4a9.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-912 .elementor-element.elementor-element-1b4a4a9.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-912 .elementor-element.elementor-element-1b4a4a9.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-912 .elementor-element.elementor-element-1b4a4a9.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-912 .elementor-element.elementor-element-1b4a4a9.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-912 .elementor-element.elementor-element-1b4a4a9 {
    padding: 0px 0px 100px 0px;
}

.elementor-912 .elementor-element.elementor-element-95df343.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-912 .elementor-element.elementor-element-95df343.ob-is-pseudo > .elementor-element-populated:after {
    transform: rotate(0deg);
}

.elementor-912 .elementor-element.elementor-element-e5bf0df.ob-is-breaking-bad > .elementor-container > .elementor-row, .elementor-912 .elementor-element.elementor-element-e5bf0df.ob-is-breaking-bad > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-912 .elementor-element.elementor-element-e5bf0df.ob-is-breaking-bad.ob-bb-inner > .elementor-container > .elementor-row, .elementor-912 .elementor-element.elementor-element-e5bf0df.ob-is-breaking-bad.ob-bb-inner > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-912 .elementor-element.elementor-element-e5bf0df.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-912 .elementor-element.elementor-element-e5bf0df.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-912 .elementor-element.elementor-element-e5bf0df.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-912 .elementor-element.elementor-element-e5bf0df.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-912 .elementor-element.elementor-element-e5bf0df.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-912 .elementor-element.elementor-element-e5bf0df {
    margin-top: 060px;
    margin-bottom: 0px;
}

.elementor-912 .elementor-element.elementor-element-8550392.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-912 .elementor-element.elementor-element-8550392.ob-is-pseudo > .elementor-element-populated:after {
    transform: rotate(0deg);
}

.elementor-912 .elementor-element.elementor-element-b139bfa.ob-harakiri {
    writing-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-b139bfa.ob-harakiri .elementor-heading-title {
    writing-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-b139bfa.ob-harakiri .elementor-widget-container > div {
    writing-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-b139bfa .elementor-widget-container {
    mix-blend-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-b139bfa > .elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-912 .elementor-element.elementor-element-b139bfa.ob-has-background-overlay > .elementor-widget-container:after {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    transform: rotate(0deg);
}

.elementor-912 .elementor-element.elementor-element-657b86a.ob-harakiri {
    writing-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-657b86a.ob-harakiri .elementor-heading-title {
    writing-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-657b86a.ob-harakiri .elementor-widget-container > div {
    writing-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-657b86a .elementor-widget-container {
    mix-blend-mode: inherit;
}

.elementor-912 .elementor-element.elementor-element-657b86a.ob-has-background-overlay > .elementor-widget-container:after {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    transform: rotate(0deg);
}

.elementor-912 .elementor-element.elementor-element-a826d01.ob-is-breaking-bad > .elementor-container > .elementor-row, .elementor-912 .elementor-element.elementor-element-a826d01.ob-is-breaking-bad > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-912 .elementor-element.elementor-element-a826d01.ob-is-breaking-bad.ob-bb-inner > .elementor-container > .elementor-row, .elementor-912 .elementor-element.elementor-element-a826d01.ob-is-breaking-bad.ob-bb-inner > .elementor-container {
    justify-content: flex-start !important;
    flex-direction: row;
}

.elementor-912 .elementor-element.elementor-element-a826d01.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-912 .elementor-element.elementor-element-a826d01.ob-is-breaking-bad.ob-is-glider > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-912 .elementor-element.elementor-element-a826d01.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical > .elementor-row, .elementor-912 .elementor-element.elementor-element-a826d01.ob-is-breaking-bad.ob-is-glider.ob-bb-inner > .elementor-container.swiper-container-vertical {
    flex-direction: column;
}

.elementor-912 .elementor-element.elementor-element-a826d01.ob-is-breaking-bad.ob-bb-inner {
    width: 100%;
    flex: unset;
    align-self: inherit;
}

.elementor-912 .elementor-element.elementor-element-a826d01 {
    padding: 0px 0px 193px 0px;
}

.elementor-912 .elementor-element.elementor-element-da7abd3.elementor-column {
    align-self: inherit;
    cursor: default;
}

.elementor-912 .elementor-element.elementor-element-da7abd3.ob-is-pseudo > .elementor-element-populated:after {
    transform: rotate(0deg);
}

.elementor-912 .elementor-element.elementor-element-59b3410 .eael-data-table {
    max-width: 100%;
}

.elementor-912 .elementor-element.elementor-element-59b3410 .eael-data-table thead tr th {
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-4ba1b97);
}

.elementor-912 .elementor-element.elementor-element-59b3410 table.dataTable thead .sorting:after {
    color: var(--e-global-color-primary);
}

.elementor-912 .elementor-element.elementor-element-59b3410 table.dataTable thead .sorting_asc:after {
    color: var(--e-global-color-primary);
}

.elementor-912 .elementor-element.elementor-element-59b3410 table.dataTable thead .sorting_desc:after {
    color: var(--e-global-color-primary);
}

.elementor-912 .elementor-element.elementor-element-59b3410 .eael-data-table thead tr th:hover {
    color: var(--e-global-color-primary);
}

.elementor-912 .elementor-element.elementor-element-59b3410 table.dataTable thead .sorting:after:hover {
    color: var(--e-global-color-primary);
}

.elementor-912 .elementor-element.elementor-element-59b3410 table.dataTable thead .sorting_asc:after:hover {
    color: var(--e-global-color-primary);
}

.elementor-912 .elementor-element.elementor-element-59b3410 table.dataTable thead .sorting_desc:after:hover {
    color: var(--e-global-color-primary);
}

.elementor-912 .elementor-element.elementor-element-59b3410 .eael-data-table thead tr th i {
    font-size: 20px;
}

.elementor-912 .elementor-element.elementor-element-59b3410 .eael-data-table thead tr th .data-table-header-svg-icon {
    height: 20px;
    width: 20px;
}

.elementor-912 .elementor-element.elementor-element-59b3410 .eael-data-table tbody > tr:nth-child(2n) td {
    color: var(--e-global-color-text);
    background: #f2f2f2;
}

.elementor-912 .elementor-element.elementor-element-59b3410 .eael-data-table tbody > tr:nth-child(2n+1) td {
    color: #6d7882;
}

.elementor-912 .elementor-element.elementor-element-59b3410 .eael-data-table tbody > tr:nth-child(2n+1) td:hover {
    color: #6d7882;
}

.elementor-912 .elementor-element.elementor-element-59b3410 .eael-data-table-wrap table td a {
    color: #c15959;
}

.elementor-912 .elementor-element.elementor-element-59b3410 .eael-data-table-wrap table td a:hover {
    color: #6d7882;
}

.elementor-912 .elementor-element.elementor-element-59b3410 .eael-data-table tbody .td-content-wrapper .eael-datatable-icon i {
    font-size: 20px;
    color: #c15959;
}

.elementor-912 .elementor-element.elementor-element-59b3410 .eael-data-table tbody .td-content-wrapper .eael-datatable-icon svg {
    height: 20px;
    width: 20px;
    fill: #c15959;
}

.elementor-912 .elementor-element.elementor-element-59b3410 .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon i {
    color: #6d7882;
}

.elementor-912 .elementor-element.elementor-element-59b3410 .eael-data-table tbody .td-content-wrapper:hover .eael-datatable-icon svg {
    fill: #6d7882;
}

.elementor-912 .elementor-element.elementor-element-59b3410.ob-has-background-overlay > .elementor-widget-container:after {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    transform: rotate(0deg);
}

html, body {
    overflow-x: inherit;
}

.eael-reading-progress-wrap .eael-reading-progress {
    height: 5px !important;
}

.eael-reading-progress-wrap .eael-reading-progress .eael-reading-progress-fill {
    height: 5px !important;
    background-color: #1fd18e !important;
    transition: width 50ms ease;
}

@media (max-width: 1024px) {
    .elementor-912 .elementor-element.elementor-element-46f6adf {
        font-size: var(--e-global-typography-5d23ba6-font-size);
        line-height: var(--e-global-typography-5d23ba6-line-height);
        letter-spacing: var(--e-global-typography-5d23ba6-letter-spacing);
    }
}

@media (max-width: 767px) {
    .elementor-912 .elementor-element.elementor-element-46f6adf {
        font-size: var(--e-global-typography-5d23ba6-font-size);
        line-height: var(--e-global-typography-5d23ba6-line-height);
        letter-spacing: var(--e-global-typography-5d23ba6-letter-spacing);
    }
}
